[Unit]
Description=containerpilot
After=network.target auditd.service

[Service]
Type=simple
Environment=CONTAINERPILOT=/etc/containerpilot.json5
ExecStart=/usr/local/bin/containerpilot
ExecReload=/usr/local/bin/containerpilot -reload
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=containerpilot.service
